<!-- TOPBARNAV -->
<gdev-topbar></gdev-topbar>


<mat-drawer-container
id="panel_container"
class="dash-container" 
hasBackdrop="false">
    

    <mat-drawer
    #sideNav
    class="side-nav"
    mode="side"
    [opened]="!responsive.small"
    position="start"
    gdev-color
    [background]="'complement1'"
    >
        <!-- SIDENAV -->
        <gdev-sidenav [structure]="sidenavStructure"></gdev-sidenav>
    </mat-drawer>

    
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>